<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <link rel="icon" href="img/instico.png" sizes="32x32">

    <title>Jilbab.sestram | FORM</title>
</head>
<body>

<div class="lgm1">
    
    <br>
    <p align="center" style="color: rgb(0, 0, 0);">#основная информация для заказа</p>

    <p align="center" style="width: 100%;">
        <select name="" class="SelectMyLove"  disabled="disabled">

            <option value="0">Россия</option>
            

        </select>

        
        <input class="inptf" type="text" id="firstName" placeholder="Фамилия "><br>
        <input class="inptf" type="text" id="nameD" placeholder="Имя"><br>
        <input class="inptf" type="text" id="lastName" placeholder="Отчество "><br>

        <input class="inptf" type="text" id="city" placeholder="Населённый пункт"><br>

        <input class="inptf" type="text" id="street" placeholder="Улица"><br>
        
        <input class="inptf" type="text" id="numHome" placeholder="Номер дома"><br>

        <input class="inptf" type="text" id="numApartment" placeholder="Номер Квартиры"><br>
        

        <input class="inptf" type="telephone" id="mailIndex" placeholder="Почтовый индекс"><br>
        <input class="inptf" type="tel" id="phoneNumber" placeholder="Номер телефона"><br>
        
        
        <br>
        <button type="button" onclick="ButClick()" id="buttn">
            Отправить
        </button>
        <br>
        <p align="center" id="comtext"></p>
        <br>

        
    </p>
    <p align="center" style="color: rgb(0, 0, 0);">Доставка по всей России</p>

    <br>
</div>
</body>

</html>